.post-detail h1 {
    color: #fff;
    font-weight: 700;
    margin-bottom: 24px;
}

.post-detail h2 {
    font-size: 1.4rem;
    font-weight: 600;
    margin: 32px 0 16px 0;
    color: #fff;
    letter-spacing: -0.5px;
}

.post-detail p {
    color: #eaeaea;
    font-size: 1.08rem;
    line-height: 1.7;
    margin: 0 0 12px 0;
    word-break: break-word;
}

/* CSS pour l'affichage d'un seul post (détail) */
.post-detail {
    min-height: 100vh;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px;
    padding-bottom: 120px;
}

.post-title {
    width: 100%;
    max-width: 600px;
    font-size: 2.2rem;
    font-weight: 700;
    margin-bottom: 24px;
    letter-spacing: -1px;
}

/* .post-meta {
    color: #888;
} */

.post-author {
    color: #fff;
    font-size: 18px;
    font-weight: 600;
}

.comment-author {
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 6px;
  color: #000;
}

.post-date {
    color: #888;
}

.post-content {
    width: 100%;
    max-width: 600px;
    background: linear-gradient(142deg,rgba(0, 0, 0, 1) 49%, rgba(162, 162, 168, 1) 100%);;
    border-radius: 20px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.25);
    padding: 32px;
    margin-bottom: 24px;
    word-break: break-word;
}

.delete-btn {
    margin-left: 12px;
    background: none;
    color: #ff6b6b;
    border: none;
    font-weight: 600;
    font-size: 1rem;
    cursor: pointer;
    transition: color 0.2s;
}
.delete-btn:hover {
    color: #ff2222;
}
