.comment {
    width: 90%;
    max-width: 600px;
    margin: 15px auto;
    background: #E4E4E4;
    background: linear-gradient(90deg, rgba(228, 228, 228, 1) 0%, rgba(229, 229, 229, 1) 50%, rgba(150, 150, 150, 1) 100%);
    padding: 20px;
    border-radius: 25px;
    color: black;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.comment h4 {
    margin: 0;
    font-size: 22px;
}

.comment p {
    font-size: 18px;
    margin-top: 10px;
}

.comment button {
    margin-top: 15px;
    padding: 8px 12px;
    background: black;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.comment button:hover {
    opacity: 0.8;
}