.create-comment {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1rem;
}
.title-comment {
    color: rgb(0, 0, 0);
    font-size: 1.3rem;
    font-weight: bold;
    margin: 1rem 0 0.7rem 0;
}
.textarea-container {
    background: linear-gradient(142deg,rgba(255, 255, 255, 1) 0%, rgba(162, 162, 168, 1) 63%, rgba(97, 90, 90, 1) 100%);    border-radius: 2rem;
    border-radius: 23px;
    color: rgb(49, 49, 49);
    font-weight: bold;
    resize: none;
}
textarea {
    background: transparent;
    border: none;
    resize: none;
}
.Hours-comment {
    color: rgb(49, 49, 49);
    margin-top: 1rem;
    padding-left: 1rem;
}
.commentaire-bouton {
    padding: 1rem 2.7rem;
    align-self: flex-start;
    cursor: pointer;
}