* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* Mode Dark */
body{
    background-color: #333333;
    color: #ffffff;
    font-family: "Josefin Sans", sans-serif;
    height: 100vh;
    padding: 3rem;
}

/* Bottom Navigation (visible dans l'image) */
.feed-container::after {
  content: '';
  display: block;
  height: 80px;
}